block variables
doctype html
html
  head
    include partial/head
  body
    .wrap
      header
        include partial/header
      .content
        block content
      footer
        block footer
    block scripts