.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
  a.pure-menu-heading(href="/")= $site.name
  ul.menu-list.pure-menu-list
    li.pure-menu-item
      a.pure-menu-link(href="/profile")= $user.name