
.home-menu
  z-index: 99999
  background: #fff
  padding: .5em
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05)
  .pure-menu-heading
    font-family: fantasy
    float: left
  .menu-list
    float: right
    .pure-menu-link
      font-szie: 1em
      font-family: fantasy
